body {
    background-color: bisque;
}

h2 {
    color: white;
    background-color: rgb(255, 163, 126);
}

table {
    height: 54px;
    width: 100%;
    border-collapse: collapse;
    border-style: solid;
}

li {
    list-style-image: url("../img/puce1.jpg");
}